[submodule "terratorch/models/backbones/Surya"]
	path = terratorch/models/backbones/Surya
	url = https://github.com/Joao-L-S-Almeida/terratorch-Surya.git
	branch = v1.0.0
	#url = git@github.com:NASA-IMPACT/Surya.git
