name: terratorch tuning toolkit

on: 
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'tests/resources/**'
      - 'examples/**/*'
      - '**/*.svg'
      - '**/*.png'
      - '**/*.txt'
      - '**/*.ipynb'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'tests/resources/**'
      - 'examples/**/*'
      - '**/*.svg'
      - '**/*.png'
      - '**/*.txt'
      - '**/*.ipynb'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    env:
      R_TESTS_VERBOSE: 2
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          #python -m pip install --upgrade pip
          pip install pip==24.2
          pip --version
          pip install -e .[wxc,test]
          # Installing dependencies required to test Galileo (temporary)
          pip install git+https://github.com/Joao-L-S-Almeida/terratorch-galileo.git
      - name: Clean pip cache
        run: pip cache purge
      - name: List pip dependencies
        run: pip list
      - name: Cleaning cache
        run: pip cache purge
      - name: Test with pytest
        run: |
          pytest -s --cov=terratorch -v --cov-report term-missing tests


